apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-gateway-one
  namespace: default
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    external-dns.alpha.kubernetes.io/target: ${NLB_IP}
    traefik.ingress.kubernetes.io/router.middlewares: default-strip-one@kubernetescrd
spec:
  ingressClassName: traefik
  tls:
    - hosts: [test.polywhale.cc]
      secretName: test-polywhale-cc-tls
  rules:
    - host: test.polywhale.cc
      http:
        paths:
          - path: /one
            pathType: Prefix
            backend:
              service:
                name: static-nginx-service-1
                port:
                  number: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-gateway-two
  namespace: default
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
    external-dns.alpha.kubernetes.io/target: ${NLB_IP}
    traefik.ingress.kubernetes.io/router.middlewares: default-strip-two@kubernetescrd
spec:
  ingressClassName: traefik
  tls:
    - hosts: [polywhale.cc]
      secretName: polywhale-cc-tls
  rules:
    - host: polywhale.cc
      http:
        paths:
          - path: /two
            pathType: Prefix
            backend:
              service:
                name: static-nginx-service-2
                port:
                  number: 80
