apiVersion: v1
kind: Secret
metadata:
    name: wireguard-client
    namespace: default
type: Opaque
stringData:
    wg0.conf.template: |
        [Interface]
        PrivateKey = ${CLIENT_PRIV}
        Address = 172.16.16.10/32
        DNS = ${INTERNAL_DNS_IP}

        [Peer]
        PublicKey = ${SERVER_PUB}
        AllowedIPs = 10.43.0.0/16, 10.42.0.0/16
        Endpoint = ${GATEWAY_IP}:31602
        PersistentKeepalive = 25